:root {
  --orange: #ff8800;

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica', 'Arial', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}

* {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  display: flex;
  height: 6vh;
  border-style: none;
  box-shadow: 0px 3px 3px #00000050;
  justify-content: space-between;
  padding-left: 3%;
  padding-right: 3%;
}



.nav-left {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.nav-right {
  display: flex;
  align-items: center;
}

.nav-link {
  display: block;
  position: relative;
  float: left;
  border: none;
  cursor: pointer;
  background-color: white;
  font-size: x-large;
  margin: 0px 10px 0px 10px;
  padding: 6px 0px 6px 0px;
  color: black;
  text-decoration: none;
  overflow: hidden;
}

.nav-link::after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: var(--orange);
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
  opacity: 1;
  transform: translate3d(-100%, 0, 0);
}

.nav-link:hover::after {
  transform: translate3d(0, 0, 0);
}

.nav-title {
  margin-right: 20px;
  font-weight: bold;
  font-size: xx-large;
  color: var(--orange);
  text-decoration: none;
}

.home {
  margin-top: 20px;
}

.recipe-details {
  width: 80%;
  max-width: 400px;
  margin: auto;
  text-align: left;
  padding-left: 5%;
  padding-right: 5%;
}

.ingredient td,th {
  padding: 2px 20px 2px 20px;
}

.login-container h1, .signup-container h1, .about-container h1{
  margin-top: 30px;
  margin-bottom: 30px;
}

form {
  display: flex;
  margin: auto;
  flex-direction: column;
  width: 25%;
  align-items:center;
}

form label {

  font-size: x-large;
  margin-bottom: 10px;
}

form input {
  height: 30px;
  width: 100%;
  min-width: 300px;
  max-width: 525px;
  margin-bottom: 30px;
  font-size: large;
}

form button {
  border-radius: 0;
  border-style: solid;
  border-color: rgb(68, 68, 68);
  height: 30px;
  width: 120px;
}

.about-container {
  margin-top: 20px;
  width: 80%;
  max-width: 800px;
  margin: auto;
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
}

.about-container h2 {
  padding: 20px;
}